[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
tqdm = "*"
sklearn = "*"
pillow = "*"
numpy = "*"
cython = "*"
torch = "*"
torchvision = "*"
scipy = "*"
sk-video = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
